<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ChunkRoot" value="D:\OctoMap" />
    <add key="Viewrange" value="4" />
    <add key="DisablePersistence" value="false" />
    <add key="Playername" value="TestPlayer" />
    <add key="Key:OctoAwesome.HeadLeft" value="Left" />
    <add key="Key:OctoAwesome.HeadRight" value="Right" />
    <add key="Key:OctoAwesome.HeadUp" value="Up" />
    <add key="Key:OctoAwesome.HeadDown" value="Down" />
    <add key="Key:OctoAwesome.MoveUp" value="W" />
    <add key="Key:OctoAwesome.MoveLeft" value="A" />
    <add key="Key:OctoAwesome.MoveDown" value="S" />
    <add key="Key:OctoAwesome.MoveRight" value="D" />
  </appSettings>
</configuration>