<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChunkRoot" value="OctoMap" />
    <add key="Viewrange" value="4" />
    <add key="DisablePersistence" value="false" />
    <add key="LastUniverse" />
    <add key="EnableFullscreen" value="false" />
    <add key="Width" value="1080" />
    <add key="Height" value="720" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
