<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChunkRoot" value="OctoMap" />
    <add key="Viewrange" value="4" />
    <add key="DisablePersistence" value="false" />
    <add key="LastUniverse" />
    <add key="EnableFullscreen" value="false" />
    <add key="Width" value="1080" />
    <add key="Height" value="720" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
